body {
    background-color: rgb(6, 111, 22, .75);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    /* border: 1px solid red; for debugging */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title, .header, footer {
    text-align: center;
    /* border: 1px solid black; for debugging */
}

footer {
    font-size: 1vh;
}

.title {
    font-size: 5vw;
    margin: 5px;
}

h3, h4 {
    font-size: 2vh;
    margin: 5px;
    color: rgb(133, 214, 240);
}

header {
    /* border: 1px solid blue; for debugging */
    padding: 50px 50px 0px 25px;
    display: flex;
}

.header-overlay-img {
    /* border: 1px solid red; for debugging */
    display: flex;
    flex-direction: column;
}

.header-img {
    max-width: 150px;
    width: 100%;
    height: auto;
    /* border: 1px solid yellow; for debugging */
    object-fit: contain;
    object-position: center;
}

.selection {
    /* border: 1px solid purple; for debugging */
    min-height: auto;
    min-width: 100px;
    font-size: 3vh;
    margin: 10px;
    color: rgb(240, 208, 133);
}

.selection-container {
    /* border: 1px solid magenta; for debugging */
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-container{
    /* border: 1px solid coral; for debugging */
    text-align: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

.player-button {
    all: unset;
    cursor: pointer;
    border-radius: 8px;
    transition: all 1s ease;
}

button img {
    /* border: 1px solid aquamarine; for debugging */
    height: auto;
    width: 100%;
    max-width: 200px;
}

.selected {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

.scores-container {
    /* border: 1px solid white; for debugging */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.score {
    /* border: 1px solid goldenrod; for debugging */
    font-size: 3vh;
    margin: 1rem;
    color: rgb(133, 214, 240);
}

.game-round-container {
    text-align: center;
    font-size: 3vh;
    min-height: 3vw;
    margin: 10px;
    /* border: 1px solid white; for debugging */
    padding: 0;
}