body {
    background-color: rgb(6, 111, 22, .75);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    border: 1px solid red; /* for debugging */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title, .header, footer {
    text-align: center;
    /* border: 1px solid black; for debugging */
    
}

.title {
    font-size: 50px;
}

header {
    /* border: 1px solid red; for debugging */
    padding: 50px 25px;
    display: flex;

}

.header-titles {
    /* border: 1px solid red;  for debugging */
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.header-overlay-img {
    /* border: 1px solid red; for debugging */
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.header-img {
    height: 250px;
    width: auto;
    /* border: 1px solid red; for debugging */
}

.choices {
    /* border: 1px solid red; for debugging */
    text-align: center;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.player {
    padding: 0;
    background-color: transparent;
    border: none;
}

button img {
    height: 200px;
    width: auto;
    border-radius: 8px;
}